/*! purgecss start ignore */ /*! purgecss end ignore */
.cta .label[data-v-21a5ab71] {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cta .label[data-v-21a5ab71]:after {
  content: attr(data-text);
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 100%;
}
.cta .icon-svg[data-v-21a5ab71] {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cta .icon-svg[data-v-21a5ab71]:last-child {
  left: 0;
  top: 0;
  transform: translate3d(-100%, 100%, 0);
}
@media (hover: hover) {
  .cta:hover .label[data-v-21a5ab71] {
    transform: translateY(-100%);
  }
  .cta:hover .label[data-v-21a5ab71]:after {
    opacity: 1;
  }
  .cta:hover .icon-svg[data-v-21a5ab71]:first-child {
    transform: translate3d(100%, -100%, 0);
  }
  .cta:hover .icon-svg[data-v-21a5ab71]:last-child {
    transform: translateZ(0);
  }
}
