.project-item[data-v-c0599840] {
  transform-style: preserve-3d;
}
.image[data-v-c0599840] {
  --alphaBg: 0;
}
.dark .image[data-v-c0599840]:after {
  background: #0003;
  border-radius: 9999px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.circle[data-v-6bca4112] {
  backface-visibility: hidden;
  transform: rotate(-90deg);
  --dashOffset: 880;
  --dashOffsetBorder: 0;
}
.circle-border[data-v-6bca4112] {
  stroke-dasharray: 880;
  stroke-dashoffset: var(--dashOffset);
}
.circle__border[data-v-6bca4112] {
  stroke-dasharray: 880;
  stroke-dashoffset: var(--dashOffsetBorder);
}
[data-v-6bca4112] .spanEl {
  display: block;
}
.cta .icon-svg[data-v-6bca4112] {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cta .icon-svg[data-v-6bca4112]:last-child {
  left: 0;
  top: 0;
  transform: translate3d(-100%, 0, 0);
}
@media (hover: hover) {
  .cta:hover .icon-svg[data-v-6bca4112]:first-child {
    transform: translate3d(100%, 0, 0);
  }
  .cta:hover .icon-svg[data-v-6bca4112]:last-child {
    transform: translateZ(0);
  }
} /*! purgecss start ignore */ /*! purgecss end ignore */
.gallery[data-v-eb81676b] {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  --maskPerc1: 0%;
  --maskPerc2: 100%;
}
.item[data-v-eb81676b] {
  --opacity: 0;
  --translateY: 0;
  --translateX: 100px;
}
@media only screen and (min-width: 1024px) {
  .item[data-v-eb81676b] {
    --translateY: -100px;
    --translateX: 0;
  }
}
.drag-proxy[data-v-eb81676b] {
  position: absolute;
  visibility: hidden;
}
