@media (hover: hover) and (min-aspect-ratio: 16/7) {
  .about-description[data-v-2c86bf9c] {
    display: none;
  }
} /*! purgecss start ignore */ /*! purgecss end ignore */
.dark .image[data-v-9bab6d6b]:after {
  background: #0003;
  border-radius: 9999px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (hover: hover) and (min-aspect-ratio: 16/7) {
  .about-bubbles[data-v-9bab6d6b] {
    display: none;
  }
}
