.circle[data-v-4ca2746f] {
  backface-visibility: hidden;
  transform: rotate(-90deg);
  will-change: transform;
  --dashOffset: 0;
  --dashOffsetBorder: 0;
}
.circle__progress[data-v-4ca2746f] {
  stroke-dasharray: 880;
  stroke-dashoffset: var(--dashOffset);
}
.circle__border[data-v-4ca2746f] {
  stroke-dasharray: 880;
  stroke-dashoffset: var(--dashOffsetBorder);
}
.cta .icon-svg[data-v-4ca2746f] {
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.cta .icon-svg[data-v-4ca2746f]:last-child {
  left: 0;
  top: 0;
  transform: translate3d(-100%, 0, 0);
}
@media (hover: hover) {
  .cta:hover .icon-svg[data-v-4ca2746f]:first-child {
    transform: translate3d(100%, 0, 0);
  }
  .cta:hover .icon-svg[data-v-4ca2746f]:last-child {
    transform: translateZ(0);
  }
}
[data-v-4ca2746f] .spanEl {
  flex-shrink: 0;
  height: 100%;
}
.dark .image[data-v-d623315d]:after {
  background: #0003;
  border-radius: 9999px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.project-image[data-v-d623315d] img {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (hover: hover) {
  .project-image[data-v-d623315d]:hover img {
    transform: scale(1.1);
  }
}
[data-projects-image][data-v-d623315d] {
  --alphaBg: 0;
} /*! purgecss start ignore */ /*! purgecss end ignore */
.content[data-v-201f33a8] {
  border-radius: 8px;
  grid-area: content;
  pointer-events: none;
  position: relative;
  z-index: 100;
  --img-width: 25.6rem;
  --img-ratio: 1.74;
  --img-offset-x: 0px;
  --img-offset-y: 0px;
  --img-border-radius: 7px;
}
.content__img[data-v-201f33a8] {
  aspect-ratio: var(--img-ratio);
  border-radius: var(--img-border-radius);
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: var(--img-width);
  will-change: transform, filter;
}
[data-v-201f33a8] .content__img-inner {
  border-radius: var(--img-border-radius);
  height: calc(100% + var(--img-offset-y));
  left: calc(var(--img-offset-x) * -1 / 2);
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: calc(var(--img-offset-y) * -1 / 2);
  width: calc(100% + var(--img-offset-x));
}
